.test {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}


.warning {
    color: 	hsl(316, 100%, 72%);

}

h1 {
  font-size: 58px;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);    
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
    font-size: 40px;
    background-image: linear-gradient( 135deg, #FFCF71 10%, #2376DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.table2, td, th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td,th{
      min-width: 100px;
  }

.so-am{
      color: red;
  }

.center{
    text-align: center  ;
}