<div class="test">
    <h1 >This Is Home Component</h1>

    <h2 >Chào bạn {{ name }}</h2>
    <table class="table2">
        <tr>
          <th>Id:</th>
          <th>Brand</th>
          <th>Name Phone</th>
          <th>Sale Off</th>
        </tr>
        <tr *ngFor="let id of nameSPObject; let i = index">
   
          <td class="center">{{i +1}}</td>
          <td class="center"  >{{id.ten | lowercase}}</td>
          <td class="center">
            <span [ngClass]="{'so-am': id.gia < 0 }" >{{id.gia |  currency:'VND':'symbol':'1.3'}}</span>
          </td>
          <td class="center">
            <span >{{id.hagia | onSale | uppercase}}</span>
          </td>
        </tr>
        
      </table>
      

</div>