<div class="test">
    <h1 >This Is Home Component</h1>

    <h2 >Chào bạn {{ name }}</h2>
    <table class="table2">
        <tr>
          <th>Id:</th>
          <th>Brand</th>
          <th>Name Phone</th>
          <th>Sale Off</th>
        </tr>
        <tr *ngFor="let id of nameSPObject; let i = index">
   
          <td class="center">{{i +1}}</td>
          <td class="center">{{id.ten}}</td>
          <td class="center">
            <span [ngClass]="{'so-am': id.gia < 0 }" >{{id.gia}}</span>
          </td>
          <td class="center">
            <span *ngIf="id.hagia;" >Đang Hạ Giá</span>
          </td>
        </tr>
        
      </table>
      

</div>