<div class="test">
    <h1 class="examplecolor">This Is Home Component</h1>
    <br>

    

    <h2 class="examplecolor">Chào bạn {{ name }}</h2>
    <br>
    
    <input type="text" [(ngModel)]="age" >

     <h4>Tuổi : {{age}}</h4>


    <br>
    <div *ngIf = "age <= 18; then tre ; else gia"></div>
    <br>
    <ng-template #gia> <h3 class="warning" >Tuổi của bạn trên 18</h3> </ng-template>

    <br>
    <ng-template #tre> Tuổi của bạn dưới 18</ng-template>



    <br>
    <button (click)="resetName()">Reset Name</button>
</div>